<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../CSS/win.css">
    </head>

    <body>
        <main id="container_main" >
            <section class="container_item">
                <h1>Em que número <strong>Bia</strong> está pensando?</h1>
                <img src="../images/Acertei.svg" alt="">
            </section>
            <p>Parabéns o número é: <span id="random_number" ></span></p>
            <p>Seus palpites:</p>
            <span id="tries_win"></span>
        </main>


        <script src="../Script/scripts.js">
            

        </script>
    </body>
</html>